@charset "UTF8";

@font-face {
    font-family: 'graf' ;
    src: url('fontes/g1.otf') format('opentype'), url('fontes/g2.ttf') format('truetype');
}

:root {
    --cor0: #CB70FF;
    --cor1: #A200FF;
    --cor2: #8E39BF;
    --cor3: #7100B3;
    --cor4: #540085;
    --cor5: #180133;

    --fonte-destaque: 'graf', arial, sans-serif;
}

body{
    height: 100vh;
    background-image: url(imagens/shiro.png);
    background-size: cover;
    text-align: center center;
}
h1 {
    text-align: center;
}
main {
    background-color: #18013300;
    width: 250px;
    height: 250px;
    margin: auto;
}

img {
    width:250px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px #740bb1a9;
}

img:hover {
    box-shadow: 10px 10px 10px #a042d6ea;
    transition: 1s;
}



h1 {
    text-shadow: 2px 2px 2px white;
    color: var(--cor4);
    font-family:var(--fonte-destaque);
}

p {
    color: #180133;
    font-family: var(--fonte-destaque);
    font-size: 5em;
}